* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  overflow-x: hidden;
  font-family: "Noto Sans", sans-serif;
}


.noto-sans-regular {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.webgl {
  position: absolute; /* takes canvas out of document flow, so things can sit on top of it */
  top: 0;
  left: 0;
  z-index: 1; /* behind other z-index mentions, so things can go on top */
}

nav {
  position: relative; /* stays in the normal document flow but becomes a reference for any absolutely positioned children inside it */
  z-index: 2;
  display: flex; /* creates a flex box, allowing direct children to be positioned in new ways */
  color: white;
  padding: 4rem 8rem; /* rem = root font size. use this over px as it scales with user accesibility settings */
  justify-content: space-between; /* flex - one at either side with space inbetween */
}

nav a {
  color: white;
  text-decoration: none; /* removes underlining of links */
  transition: color 0.5s;
  transition-timing-function: ease;
}

nav > a { /* nav > a means this applies only to direct descendants, so the <li>'s hyperlinks are unaffected */
    font-weight: bold;
}

nav a:hover {
  color: grey;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 4rem;
}


